@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  background-color: #f7f9fc;
}
